:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bg-color: #f5f4fa;
  --secondary-bg-color: #2f303a;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-white-color);
  c

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* List */

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Link */

.link {
  text-decoration: none;
}

/* Button */

.button {
  min-width: 73px;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.button.secondary {
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001a;
}

/* Logo */

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: var(--accent-color);
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
}

/* Main nav */

.header-container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* Site nav */

.site-nav {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

.site-nav .active::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.address-nav {
  display: flex;
  margin-left: auto;
}

.address-nav .item + .item {
  display: block;
  margin-left: 50px;
}

.address-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-nav .link {
  display: flex;
  align-items: center;

  transition: color 250ms var(--timing-function);
}

.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
}

.mail-link:hover .icon-mail,
.mail-link:focus .icon-mail {
  fill: var(--accent-color);
}

.phone-link:hover .icon-phone,
.phone-link:focus .icon-phone {
  fill: var(--accent-color);
}

.icon-mail,
.icon-phone {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms var(--timing-function);
}

/* Hero */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-image.jpg);
  background-position: center;
  background-size: cover;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-title-container {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  cursor: pointer;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  text-align: center;

  transition: background-color 250ms var(--timing-function);
}

.hero-button:hover {
  background-color: #188ce8;
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-top-padding {
  padding-top: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-title.centered {
  text-align: center;
}

/* Benefits */

.benefit-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.benefit-list .item {
  width: 270px;
  margin-left: 30px;
}

.benefit-thumb {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg-color);
}

.benefit-list .title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefit-list .description {
  line-height: 1.71;
}

/* Work */

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.work-list .item {
  margin-left: 30px;
}

.work-thumb {
  position: relative;
}

.work-label {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

/* Team */

.team {
  background-color: var(--primary-bg-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team-list .item {
  flex-basis: calc(100% / 4-30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-item-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-list li:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);

  /* Section */
}

.icon-socials {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}

.socials-link:hover .icon-socials,
.socials-link:focus .icon-socials {
  fill: var(--primary-white-color);
}

/* Clients */

.client-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-left: 30px;

  transition: border-color 250ms var(--timing-function);
}

.icon-client {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
}

.client-link:hover .icon-client,
.client-link:focus .icon-client {
  fill: var(--accent-color);
}

/* Projects */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: -8px;
}

.filter-list .item {
  flex-basis: calc(100% / 5-8px);
  margin-left: 8px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.project-list .item {
  width: 370px;
  margin-left: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;

  transition: box-shadow 250ms var(--timing-function);
}

.project-list .item:hover,
.project-list .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list .item:hover .project-overlay,
.project-list .item:focus .project-overlay {
  transform: translateY(-100%);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  display: inline-block;
  content: '';
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.project-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list .description {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.project-item-bottom {
  padding: 20px 24px;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.address-box {
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;

  color: var(--primary-white-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-nav .link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;

  transition: color 250ms var(--timing-function);
}

.link.address {
  color: var(--primary-white-color);
}

.footer-address-nav .link:hover,
.footer-address-nav .link:focus {
  color: var(--accent-color);
}

.socials-title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-socials-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-footer-socials {
  fill: var(--primary-white-color);
}

.subscription-form {
  display: flex;
}

.form-field.email {
  position: relative;
  min-width: 358px;
  min-height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.email-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.email-input {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--primary-white-color);
  outline: none;
}

.submit-button {
  min-width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.icon-send {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-height: 581px;
  min-width: 528px;
  border-radius: 4px;
  background-color: var(--primary-white-color);
  padding: 41px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.icon-close {
  transition: fill 250ms var(--timing-function);
}

.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
  fill: var(--accent-color);
}

.subscription-box {
  margin-left: 93px;
}

textarea {
  resize: none;
}

.contact-form {
  margin-left: auto;
  margin-right: auto;
}

.form-header {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.form-field {
  display: block;
  margin-bottom: 10px;
}

.input-box {
  position: relative;
  display: block;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  min-height: 40px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  padding-right: 12px;
  transition: border 250ms var(--timing-function);
}

.comment {
  width: 100%;
  min-height: 40px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;

  display: inline-block;
  width: 18px;
  height: 18px;

  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.form-input:focus ~ .icon-form {
  fill: var(--accent-color);
}

.form-input:focus,
.comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.policy-label {
  display: flex;
  align-items: center;
}

.policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: block;
  width: 16px;
  height: 15px;
  margin-left: 12px;
  margin-right: 8px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.policy-checkbox:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
}

.policy-text {
  line-height: 1.71;
}

.policy-link {
  color: var(--accent-color);
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.send-button {
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
